@charset "UTF-8";
#insert-wrapper{
	background: white;
	padding: 1vh 3vw;
}
#title{
	font-size: 1.5rem;
	margin-left: 2vw;
	margin-top: 3vh;
}
#address{
	width: 33vw;
	height: 2;
	display: inline-block;
	margin-left: 18vw;
}
#submit-btn{
	margin-left: 33vw;
}
#map{
	margin-left: 17vw; /*가운데정렬하기위함...안되면 숫자조정*/
	margin-top: 2vh;
}